/** Temporary implementation of dark theme **/
/** TODO: implement dark theme properly when @craco/craco supports CRA@5 and @semantic-ui-react/craco-less supports craco@7 **/

html, body {
  font-size: 18px;
}

html {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
}
